@import "~@angular/material/theming";
// regular style toast
@import '~ngx-toastr/toastr';
@include mat-core();

$my-app-primary: mat-palette($mat-green, A700);
$my-app-accent: mat-palette($mat-green, A900, A800, A700);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);
$my-app-warn: mat-palette($mat-red, A100);

@include angular-material-theme($my-app-theme);

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: "Roboto", sans-serif;
}

html,
body {
  margin: 0;
  min-height: 100%;
}

.elipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.visuals {
  position: absolute;
  top: -12px;
  left: 0;
  right: 0;
  background-image: url("./assets/visuals.svg");
  height: 120px;
  width: 100%;
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

.tags-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 20;
  .tag {
    padding: 2px 6px;
    font-weight: bold;
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    border-radius: 4px;
    &.top-offer {
      background: #333333;
    }
    &.discount-offer {
      margin-right: 4px;
      background: #f32121;
    }
  }
}

.star-container {
  display: flex;
  align-items: center;
  justify-content: center;
  .star {
    position: relative;

    display: inline-block;
    width: 0;
    height: 0;

    margin-left: 0.9em;
    margin-right: 0.9em;
    margin-bottom: 1.2em;

    border-right: 0.3em solid transparent;
    border-bottom: 0.7em solid #f2c94c;
    border-left: 0.3em solid transparent;

    /* Controlls the size of the stars. */
    font-size: 12px;

    &:before,
    &:after {
      content: "";

      display: block;
      width: 0;
      height: 0;

      position: absolute;
      top: 0.6em;
      left: -1em;

      border-right: 1em solid transparent;
      border-bottom: 0.7em solid #f2c94c;
      border-left: 1em solid transparent;

      transform: rotate(-35deg);
    }

    &:after {
      transform: rotate(35deg);
    }
  }

  span {
    margin-left: 5px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    line-height: 19px;
    color: #f2c94c;
  }
}

.mat-tab-label {
      min-width: 50%!important;
}

.full-width {
  width: 100%;
}

.error-message {
  mat-error {
    font-size: 12px;
    line-height: 22px;
    margin: 2px 0px 0px;
    color: #fab816;
  }
}

.custom-form-field {
  &.push-top {
    .mat-form-field-label {
      margin-top: 5px;
    }
  }
}
.custom-form-field .mat-form-field-wrapper{
  margin-bottom: -1.25em;
}

.action-container {
  display: flex;
  justify-content: flex-end;
  min-width: 100px;

  .calculation-container {
    display: flex;
    justify-content: space-between;
    height: 30px;

    .calculation-box {
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fa4616;
        height: 30px;
        width: 30px;
        font-size: 20px;
        background: #ffffff;
        border: 0.5px solid #f2f2f2;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07),
          4px -4px 13px rgba(0, 0, 0, 0.04), -4px 4px 13px rgba(0, 0, 0, 0.04);
        border-radius: 4px;
      }
    }
    .quantity {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #4f4f4f;
      margin: 0px 12px;
    }
  }
}

.product-img {
  height: 70px;
  min-width: 70px;
  margin-right: 10px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.no-image {
  background-image: url("./assets/no-image.jpg");
  height: 70px;
  min-width: 70px;
  margin-right: 10px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.order-btn {
  height: 40px;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  border-radius: 6px;
  width: 100%;
  background: #fa4616;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  
  &:disabled {
    opacity: 0.7;
  }
}

.custom-text-area {
  .mat-form-field-underline {
      display: none;
  }
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
}

.remove-underline {
  font-size: 14px;
  .mat-form-field-underline {
    display: none!important;
}
}

.page-name {
  position: relative;
  z-index: 5;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #333333;
  padding: 25px 15px 25px;
}



.checkbox-container {
  margin-top: 15px;
  color: #fff;
  .mat-checkbox-label {
    margin-left: 5px;
    white-space: pre-wrap;

  }
  .mat-checkbox-inner-container {
    border: 1px solid #FFF!important;
  }
}
