<div class="home-container">
  <div class="visuals"></div>
  <div class="home">
    <div class="header-container">
      <div class="header">
        <div>
          <h2 *ngIf="user" class="welcome-user">Bok {{ user.firstName }},</h2>
          <h2>Otkrij nova iskustva <br>
            <span style="color: #fa4616">okusa</span>
          </h2>
        </div>
        <div class="login-container" (click)="goToLogin()">
          <span class="material-icons">login</span>
        </div>
        <div
          *ngIf="user && user.image"
          class="avatar-container has-image"
          (click)="navigateToProfile()"
          [style.background-image]="'url(' + user.image + ')'"
        ></div>
      </div>
    </div>

    <div class="top-offers-container" *ngIf="topOfferProducts.length">
      <swiper [config]="swiperConfig">
        <div class="slide swiper-slide"*ngFor="let product of topOfferProducts"
        (click)="goToRestaurantPage(product.objectId, product.id)">
          <div class="tags-container">
            <div class="tag discount-offer" *ngIf="product.discount">
              Akcija
            </div>
            <div class="tag top-offer">Top Ponuda</div>
          </div>
          <div class="slide-img-layer"></div>
          <div class="slide-img" [ngStyle]="{'background-image': 'url(' + product.image + ')'}"></div>
          <div class="slide-content">
            <h3 class="elipsis">
              {{product.name}}
            </h3>
            <p class="elipsis">
              {{product.description}}
            </p>
          </div>
        </div>
      </swiper>
    </div>

    <p class="section-title">Najčešće naručivano</p>
    
    <div class="top-products-container" *ngIf="mostOrderedProducts.length">
      <swiper [config]="swiperConfig">
        <div class="slide swiper-slide"*ngFor="let product of mostOrderedProducts"
        (click)="goToRestaurantPage(product.objectId, product.id)">
          <div class="tags-container">
            <div class="tag discount-offer" *ngIf="product.discount">
              Akcija
            </div>
          </div>
          <div class="slide-img" [ngStyle]="{'background-image': 'url(' + product.productImage + ')'}"></div>
          <div class="slide-content">
            <h3 class="elipsis">
              {{product.productName}}
            </h3>
            <p class="elipsis">
              {{product.objectName}}
            </p>
          </div>
        </div>
      </swiper>
    </div>

    <p class="section-title" style="margin-bottom: 0px;">U blizini</p>

    <div class="restaurant-container" *ngFor="let restaurant of restaurants">
      <div (click)="goToRestaurantPage(restaurant.id)">
        <div class="restaurant-image" [ngStyle]="{'background-image': 'url(' + restaurant.image + ')'}">
          <div class="layer" *ngIf="!restaurant.isWorking">
            <h3>Zatvoreno</h3>
          </div>
        </div>
        <div class="restaurant-info-container">
          <div class="restaurant-info">
            <h4>{{restaurant.name}}</h4>
            <div class="star-container">
              <i class="star"></i>
              <span>5.0</span>
            </div>
          </div>
          <div class="restaurant-time-info">
            <div *ngIf="restaurant.objectCategories">
              <span *ngFor="let category of restaurant.objectCategories; let lastItem = last;">{{category.category.name}}<span *ngIf="!lastItem">, </span>  </span>
            </div>
            <div class="time-container">
              <span class="material-icons">alarm</span>
              <span>{{restaurant.approximateDeliveryTime}} min</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
